@import "./libs/reset.scss";
@import "./libs/mixins.scss";
@import "./libs/functions.scss";
@import "./libs/responsive.scss";


$primary: #9356DC;
$secondary: #FF79DA;

body{
    max-width: 600px;
    margin:auto;
}




h1{
 color: $primary;
}
