/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  max-width: 400px;
  margin: auto;
  font-family: 'roboto', sans-serif;
  background-color: white;
}

header {
  background-color: #e8f9f5;
  height: 300px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
}

.place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #71d7be;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.fas {
  margin-right: 10px;
}

.accroche_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 175px;
}

a {
  text-decoration: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  font-size: 17px;
  padding: 10px;
  margin-top: 20px;
  color: white;
  border-radius: 20px;
  /* fallback/image non-cover color */
  background-color: #9356DC;
  /* Firefox 3.6+ */
  /* Safari 4+, Chrome 1+ */
  /* Safari 5.1+, Chrome 10+ */
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(left, #9356DC 0%, #FF79DA 100%);
  /* IE10+ */
  /* Standard */
  background: -webkit-gradient(linear, left top, right top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to right, #9356DC 0%, #FF79DA 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}

.btn:hover {
  /* fallback/image non-cover color */
  background-color: #FF79DA;
  /* Firefox 3.6+ */
  /* Safari 4+, Chrome 1+ */
  /* Safari 5.1+, Chrome 10+ */
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(left, #FF79DA 0%, #9356DC 100%);
  /* IE10+ */
  /* Standard */
  background: -webkit-gradient(linear, left top, right top, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to right, #FF79DA 0%, #9356DC 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}

.info_restaurant {
  width: 300px;
  /**display: flex;
    align-items: center;**/
}

.descript {
  font-size: 25px;
}
/*# sourceMappingURL=style.css.map */