/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/**
 *
 * This mixin will permit to display a colored background image following the 
 * browser capacity, if not any an alternative image is displayed. If not any alternative
 * image is given, the image is used as alternative as well 
 */
body {
  max-width: 400px;
  margin: auto;
  font-family: "roboto", sans-serif;
  background-color: white;
}

header {
  background-color: #e8f9f5;
  height: 300px;
}

.logo {
  display: flex;
  justify-content: center;
  color: black;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}

.place {
  display: flex;
  background-color: #71d7be;
  justify-content: center;
  padding: 10px;
}

.fas {
  margin-right: 10px;
}

.accroche_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  justify-content: space-between;
  height: 175px;
}

a {
  text-decoration: none;
}

.btn {
  display: flex;
  align-content: flex-end;
  font-size: 17px;
  padding: 10px;
  margin-top: 20px;
  color: white;
  border-radius: 20px;
  /* fallback/image non-cover color */
  background-color: #9356DC;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(left, #9356DC 0%, #FF79DA 100%);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #9356DC), color-stop(100%, #FF79DA));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(left, #9356DC 0%, #FF79DA 100%);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(left, #9356DC 0%, #FF79DA 100%);
  /* IE10+ */
  background: -ms-linear-gradient(left, #9356DC 0%, #FF79DA 100%);
  /* Standard */
  background: linear-gradient(to right, #9356DC 0%, #FF79DA 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$from", endColorstr="$to",GradientType=1 );
}
.btn:hover {
  /* fallback/image non-cover color */
  background-color: #FF79DA;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(left, #FF79DA 0%, #9356DC 100%);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #FF79DA), color-stop(100%, #9356DC));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(left, #FF79DA 0%, #9356DC 100%);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(left, #FF79DA 0%, #9356DC 100%);
  /* IE10+ */
  background: -ms-linear-gradient(left, #FF79DA 0%, #9356DC 100%);
  /* Standard */
  background: linear-gradient(to right, #FF79DA 0%, #9356DC 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$from", endColorstr="$to",GradientType=1 );
}

.descript {
  font-size: 25px;
}

.menu_descript {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn_menu {
  display: flex;
  align-items: baseline;
  border-radius: 20px;
  width: 400px;
  justify-content: center;
}
.btn_menu .circle {
  margin: 10px;
  width: 17px;
  background: #a16be0;
  height: 17px;
  text-align: center;
  border-radius: 100px;
}
.btn_menu .fa-store {
  color: #9356DC;
}

.info_restaurant {
  width: 300px;
  /**display: flex;
  align-items: center;**/
}

/*# sourceMappingURL=style.css.map */
